/* variables for repeating colors etc */
:root {
  --dark: #151418;
  --white: #f6f6f6;
  --dark-grey: #272727;
  --grey: #404040;
  --light-grey: #979797;
  --blurple: #6a5df8;
  --blue: #49cbff;
  --monospace: 'Azeret Mono', 'Courier New', Courier, monospace;
  --poppins: 'Poppins', 'Open Sans', 'Helvetica Neue', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

/* Base Reset */
* {
  margin: 0;
  padding: 0;
}

/* Base Styles */
h1 {
  font-size: 4rem!important;
}
h2 {
  font-size: 3.5rem!important;
}
h3 {
  font-size: 3rem!important;
}
h4 {
  font-size: 2.5rem!important;
}
h5 {
  font-size: 2rem!important;
}
h6 {
  font-size: 1.5rem!important;
}
a {
  text-decoration: none !important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--poppins);
  color: var(--white);
}
li {
  list-style: none;
}
p {
  margin-bottom: 0!important;
  color: var(--white);
  font-family: var(--monospace);
  line-height: 1.5em;
}
.page-section {
  padding: 10px;
}
.section-header {
  line-height: 1.2em;
  color: var(--white);
}
.section-header, .section-blurb {
  padding: 20px!important;
}
.section-header:before {
  content: "|";
  margin-right: 20px;
  color: var(--light-grey);
}
.blurple-text {
  color: var(--blurple);
}

/* Using keyframes - created an effect that cycles through multiple colours */
.hue {
  color: var(--blurple);
  animation: 60s ease 0s infinite normal none running hue-change;
}
@keyframes hue-change{
  8%{color:#6a5df8}
  12%{color:#c957e6}
  20%{color:#d2486b}
  28%{color:#bf44ac}
  36%{color:#ab47d0}
  44%{color:#9460f3}
  52%{color:#46aced}
  60%{color:#4ec4a3}
  68%{color:#52c44e}
  76%{color:#b8ba05}
  84%{color:#d2486b}
  92%{color:#1a75ff}
  to{color:#6a5df8}
}
.hue-background {
  background-color: var(--blurple);
  animation: 60s ease 0s infinite normal none running hue-bg-change;
}
@keyframes hue-bg-change{
  8%{background-color:#6a5df8}
  12%{background-color:#c957e6}
  20%{background-color:#d2486b}
  28%{background-color:#bf44ac}
  36%{background-color:#ab47d0}
  44%{background-color:#9460f3}
  52%{background-color:#46aced}
  60%{background-color:#4ec4a3}
  68%{background-color:#52c44e}
  76%{background-color:#b8ba05}
  84%{background-color:#d2486b}
  92%{background-color:#1a75ff}
  to{background-color:#6a5df8}
}

/* Navigation bar */
#mainNav {
  position: sticky;
  width: 100%;
  height: max-content;
  background-color: var(--dark) !important;
  z-index: 10;
}
#mainNav a {
  color: var(--white);
}
.navbar-title {
  font-family: var(--monospace)!important;
  font-size: 2.5rem!important;
  font-weight: 700;
}
.navbar-nav {
  font-family: var(--poppins);
  font-size: 1.25rem;
  margin-left: auto;
  margin-right: 0 !important;
}
.nav-bg {
  background-color: var(--dark);
}
.my-profile, .social-links {
  font-size: 1.6rem;
}
.my-profile p {
  padding: 10px 0px;
}
.profile-img {
  max-width: 200px;
  height: auto;
  border: 5px solid var(--grey);
}
.social-links a {
  padding: 10px 10px;
}
.social-links a:hover, #mainNav a:hover, .contact-details a:hover, .link-details:hover {
  color: var(--blurple)!important;
}

/* Hero */
#hero {
  height: calc(100vh - 86px); /* This is 100% of the view height, minus the size of the navbar */
  background: linear-gradient(rgba(41, 40, 45, 0.9), rgba(21, 20, 24, 0.9)), url(../images/patternpad.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
#hero img {
  width: 300px;
  height: auto;
  border: 5px solid var(--grey);
}
.hero-text {
  text-align: right;
}
#hero-content {
  width: 70%;
}

/* Portfolio */
#portfolio {
  position: relative;
  height: max-content;
  padding: 65px 20px 0px 20px;
  background-color: var(--dark)
}
.portfolio-grid {
  margin: 0 auto!important;
  height: max-content;
}
.portfolio-card {
  background-color: transparent;
  border: none!important;
  margin-top: -10px!important;
}
.portfolio-header {
  display: flex;
  align-items: center;
  font-family: var(--poppins);
  font-size: 1.4rem;
  padding: 10px;
  color: white;
  background-color: #151418;
  width: fit-content;
  position: relative;
  top: 500px;
  border-bottom: 5px solid var(--blurple);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
  transition: all 0.8s ease-in-out;
  z-index: 9;
}
.portfolio-img {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover !important;
  object-position: top;
  filter: grayscale(45%);
}
.link-details {
  padding-left: 10px;
  color: var(--light-grey)!important;
  font-size: 2rem;
}
.link-details:first-child {
  padding-left: 20px;
}
.project-info {
  padding: 10px 0 0 0!important;
}

/* Skills */
#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: max-content;
  background-color: var(--dark);
  padding-left: 20px;
  padding-bottom: 50px;
}
.skills-grid {
  margin: 30px auto!important;
}
.skills-card {
  background-color: transparent!important;
  border: none!important;
  margin: 0 auto!important;
}
.skills-card img {
  height: 100px;
  width: fit-content;
  align-self: center;
}
.skills-card-body {
  text-align: center;
  padding-right: 0px!important;
  padding-left: 0px!important;
}
.skills-card-body:last-child {
  padding-bottom: 0px!important;
}
.custom-btn {
  margin: 20px auto;
  background-color: var(--blurple)!important;
  color: var(--white)!important;
  font-family: var(--poppins)!important;
}
.custom-btn:hover {
  box-shadow: 0px 0px 10px var(--blue);
}

/* About/Contact Section */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: max-content;
  background-color: var(--dark);
  padding: 80px 20px 120px 20px;
}
.contact-details {
  margin: 0 -10px;
  padding: 20px 0px;
  text-align: center;
}
.contact-details a {
  color: var(--white);
  font-size: 1.5rem;
  font-family: var(--monospace);
}
/* Footer */
.footer-line {
  height: 5px;
}

#footer {
  height: max-content;
  background-color: var(--dark);
}

#footer p {
  padding: 40px 10px;
  font-family: var(--monospace);
  font-size: 0.90rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: 2px;
}
.footer-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Media Queries for alignment purposes */
@media screen and (max-width: 1054px) {
  .social-icons {
    flex: none!important;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 991px) {
  #hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section-header, .page-section p, #hero-content, .hero-text {
    text-align: center !important;
  }
  .section-header::before{
    content: none;
  }
  .custom-card img {
    height: 100px;
  }
  #contact {
    padding: 30px 0px;
  }
}